/*  StyleSheet for portfolio education page*/

header, footer, nav, section, article, aside {
        display: block;   
}

body {
	background-color: #6d92be;
}

.navbar-inverse {
	margin-bottom: 0;
}

.row {
	padding: 1em;
}

#firstSection {
	background-color: #6d92be;
}

img {
	width: 100%;
}

#javaBook {
	padding: 1em;
}

.classDescription{
	color: purple;
	background-color: white;
	font-family: "Georgia", Times, serif;
}
.upToDate{
	color: black;
	background-color: white;
	font-family: "Georgia", Times, serif;
}
#phpBook {
	padding: 1em;
}
h1{
	text-align: center;
	padding: 1em;
}

h3{
	text-align: center;
	font-size: 40pt;
}
@media screen and (min-width: 1401px){
	h3 {
		padding: .3em;
	}
	.classDescription {
	font-size: 32pt;
	}
	.upToDate {
	font-size: 20pt;
	}
}
@media screen and (max-width: 1400px){
	.classDescription {
	font-size: 32pt;
}
	.upToDate {
	font-size: 20pt;
}
	
	h1{
	text-align: center;
	font-size: 48 pt;
	padding: 1 em;
	}

	.row {
		padding: .5em;
	}
}
@media screen and (max-width: 1100px){
	.classDescription {
	font-size: 24pt;
}
    .upToDate {
	font-size: 20pt;
    }
	
	h1{
	text-align: center;
	font-size: 32 pt;
	padding: 1 em;
	}

    h3{
	text-align: center;
	font-size: 36pt;
	}
 
	.row {
		padding: .5em;
	}
}
@media screen and (max-width: 767px){
	.classDescription {
	font-size: 20pt;
    }
    .upToDate {
	font-size: 18pt;
    }
	
	h1{
	text-align: center;
	font-size: 36pt;
	padding: 1 em;
	}

    h3{
	text-align: center;
	font-size: 32pt;
	}
    img {
		display: none;
	}
	.row {
		padding: .5em;
	}
}
@media screen and (max-width: 480px){
	h3 {
		padding: .3 em;
		font-size: 28pt;
	}
	
	.classDescription {
		font-size: 16pt;
	}
	h1 {
		font-size: 34pt;
		padding: .2 em;
	}
}






