/*  StyleSheet for portfolio experience page*/

header, footer, nav, section, article, aside {
        display: block;   
}

.bg {
	 /* The image used */
    background-image: url("../images01/education.png");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p {
	color: white;
	font-size: 14pt;
	padding: 1em;
	background-color: #182432;
	border: solid white 2px;
}

.navbar-inverse {
	margin-bottom: 0;
}

h1 {
	font-size: 20pt;
	text-align: center;
}
