/*  StyleSheet for portfolio experience page*/

header, footer, nav, section, article, aside {
        display: block;   
}

html {
	 /* The image used */
    background-color: navy;

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#experienceContent {
	padding: 2em;
}

p {
	color: white;
	font-size: 14pt;
	padding: 1em;
	background-color: #b0b4b9;
	border: solid white 2px;
	box-shadow: 10px 10px 5px grey;
}

.navbar-inverse {
	margin-bottom: 0;
}

#firstSection {
	background-color: #182432;
}

h1{
	background-color:#182432;
	font-family: "Georgia", Times, serif;
	color: white;
	text-align: center;
	padding: .3em;
	font-size: 48pt;
}
