/*  StyleSheet for portfolio education page*/

header, footer, nav, section, article, aside {
        display: block;   
}



.navbar-inverse {
    margin-bottom: 0;
}

img {
	width: auto ;
	max-width: 100% ;
	height: auto ;
    border: 1px solid black;
    box-shadow:5px 5px gray;
  }

