/*  StyleSheet for portfolio page*/

header, footer, nav, section, article, aside {
        display: block;   
}



@media(min-width:1000px) {
	.hide-on-desktop {
		display:none;
	};
}

@media(max-width:999px) and (min-width:767px) {
	.hide-on-laptop {
		display:none;
	};
}

@media(max-width:766px) {
	.hide-on-mobile {
		display:none;
	};
}


