/*  Project 2 Starting CSS */

@media print{
.jumbotron, header, footer{
		display: none;
	}
	a {
		display: url;
	}
}	

header, footer, nav, section, article, aside {
        display: block;   
}

#bodyFooter {
    color: white;
    background-color: #1c467b;
    width: 100%;
    text-align: center;
}

body { 
	color: #000000;
	background-image: url("../images/portfolioBackground02.jpg");
	font-family: Calibri, Arial, sans-serif;
}

header {
	height: 15em;
}

h1 {
	width: 83.33%;
}

#portfolioPicture {
	float: left;
	width: 8.33%;
}

#screenContainer {
	background-color: white;
}

.jumbotron {
	background-color: #1c467b;
	text-align: center;
	color: white;
	
}
[class*="glyph"] {
    color: gray;
	padding: 5px;
}

.panel .panel-heading {
	background-image: none;
	background-color: #1c467b;
	color: white;
}

.panel.panel-primary {
	height: 15em;
}

.panel-body {
	height: 8em;
	color: #1c467b;
	font-size: 5em;
	text-align: center;
	text-decoration: none;
}

a {
	color: #1c467b;
	text-decoration: none;
}

a:hover, a:visited {
	color: #1c467b;
	text-decoration: none;
}

img {
	width: 100%;
}

.img-circle {
	border: 2px solid white;
}
.program-box a {
    text-decoration:none;
}

.indexButtons {
	color: white;
}
footer {
    margin-top: 15px;
    float: left;
	clear: left;	
}
@media screen and (min-width: 768px){
	.panel panel-info {
		width: 50%;
	}


