/*  StyleSheet for portfolio page*/

header, footer, nav, section, article, aside {
        display: block;   
}
body { 
	/* background-image: url("../images01/background02.jpg");*/
	background-color: #caba82;
}

#indexBody {
	background-image: url("../images01/background03.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}


#indexTextBox {
	margin: auto;
	margin-top: 20em;
	background-color: #304830;
	opacity: 0.8;
	border-radius: 20px;
}

#indexHeader {
	color: white;
}

#indexSubtitle {
	color: white;
	border: solid white 2px;
	margin-bottom: 1em;
}


/*header {
	height: 15em;
	background-color: color|transparent|initial|inherit;
	margin-bottom: 1em;
	border-radius: 10px;
	text-align: center;
}
*/
p#languageHeader {
	text-align: center;
	font-size: 18pt;
}
#pageTitle{
	float: right;
	margin-top: 15em;
}
.jumbotron {
	margin-top: 0px;
}
.navbar {
	margin-top: 0px;
	margin-bottom: 0px;
}
.portfolioHeaders {
	margin-right: auto;
	margin-left: auto;
	color: white;
}
.methodIcon {
	border: solid black 2px;
	margin-bottom: 1em;
	margin-top: 3em;
	border-radius: 10px;
	width: 100%;
}
h1{
	font-family: "Georgia", Times, serif;;
	font-size: 56pt;
	text-align: center;
	color: white;
	width: 100%;
}

#screenContainer {
	background-color: color|transparent|initial|inherit;
}

.languageIcon {
	border: solid black 2px;
	margin-bottom: 1em;
	margin-top: 3em;
	border-radius: 10px;
	width: 100%;
}

@media screen and (max-width: 767px){
	h1 {
		font-size: 40pt;
	}
	#indexTextBox {
	margin: auto;
	margin-top: 20em;
	background-color: #304830;
	}
	.portfolioHeaders {
		margin-top: .3em;
		color: white;
	}
	.languageIcon {
		margin-left: .1em;
		margin-right: .1em;
		margin-top: .3em;
		margin-bottom: .3em;
		width: 100%;
	}
	.methodIcon {
		margin-top: .1em;
	}
}
@media screen and (min-width: 768px){
	.languageIcon {
		margin-left: .1em;
		margin-right: .1em;
		margin-top: .3em;
		margin-bottom: .3em;
		width: 100%;
	}
	.methodIcon {
		margin-top: .5em;
	}
}
@media screen and (max-width: 480px){
		
	}
	#indexHeader {
	margin: auto;
	
	}
	#indexTextBox {
	margin: auto;
	margin-top: 5em;

	}
	
	#indexSubtitle {
	color: white;
	border: solid white 2px;
	margin: auto;
	margin-bottom: 1em;
	font-size: 26pt;
}
	
	#pageTitle{
	float: none;
	text-align: center;
	margin-top: 5em;
	}
	
	p {
		font-size: 12pt;
	}
}

[class*="glyph"] {
    color: gray;
	padding: 5px;
}




